<!DOCTYPE html>
<html lang="en"
      xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="loginName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phoneNumber" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">部门</label>
                            <div class="layui-input-inline">
                                <input type="text" id="dept" lay-filter="tree" name="deptId" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script th:src="@{/static/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js}"></script>
<script>

    var ctxPath = /*[[@{/}]]*/ '';
    layui.use(['form', 'table','treeSelect'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
            treeSelect= layui.treeSelect;
            treeSelect.render({
            // 选择器
            elem: '#dept',
            // 数据
            data:ctxPath+'/sysDept/listTree' ,
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '请选择',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 一些可定制的样式
            style: {
                folder: {
                    enable: true
                },
                line: {
                    enable: true
                }
            },
            // 点击回调
            click: function(d){
                console.log(d);
            },
            // 加载完成后的回调函数
            success: function (d) {
                console.log(d);
// //                选中节点，根据id筛选
//                 treeSelect.checkNode('tree', 3);
//                 console.log($('#tree').val());
// //                获取zTree对象，可以调用zTree方法
//                 var treeObj = treeSelect.zTree('tree');
//                 console.log(treeObj);
// //                刷新树结构
//                 treeSelect.refresh('tree');
            }
        });
        table.render({
            elem: '#currentTableId',
            url: ctxPath+'/sysUser/list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type:  "checkbox", width: 50},
                {field: 'id', width: 100, title: 'ID', sort: true},
                {field: 'deptName', width: 100, title: '部门名称', sort: true},
                {field: 'loginName', width: 100, title: '登录名', sort: true},
                {field: 'userType', width: 100,align: "center", title: '用户类型'},
                {field: 'email', width: 150, title: '邮箱',align: "center", sort: true},
                {field: 'phoneNumber', width: 100, title: '手机号'},
                {field: 'sex', title: '性别', width: 50},
                {field: 'avatar', width: 100, title: '头像',templet: function(d) {
                        var avatarStr = "";
                        if (d) {
                            avatarStr = '<a href="' + d.avatar + '" target="_blank"><img src="' + d.avatar + '" height="40"></a>'
                        }
                        return avatarStr;
                    }
                },
                {field: 'loginIp', width: 200, title: '登录ip', sort: true},
                {field: 'loginDate', width: 200, title: '登录时间'},
                {field: 'createTime', width: 200, title: '创建时间', sort: true},
                {field: 'status', width: 200, title: '状态',templet: function(d) {
                        var statusStr = "";
                        if (d.status=="1") {
                            statusStr = '<input id="status_switch_'+d.id+'" lay-filter ="status_switch" type="checkbox" value="'+d.id+'" name="close" checked="checked" lay-skin="switch" lay-text="启用|禁用">'
                        }else {
                            statusStr = ' <input id="status_switch_'+d.id+'" lay-filter ="status_switch" type="checkbox" value="'+d.id+'" name="close" lay-skin="switch" lay-text="启用|禁用">'
                        }
                        return statusStr;
                    }

                },
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ] ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctxPath+'/sysUser/addUI',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                let ids =[];
                for(let i=0;i<data.length;i++){
                    ids.push(data[i].id);
                }
                $.ajax({
                    url : ctxPath+"/sysUser/delete",
                    type : 'post',
                    datatype : 'String',
                    data :{
                        "ids" :ids.join(",")
                    },
                    success : function(result) {
                        if (result.code!==0) {
                            layer.msg(result.msg);
                        } else {
                            window.parent.location.reload()
                        }
                    }
                });

            }
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            console.log(data)
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');

            return false;
        });
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
        //监听开关
        //监听指定开关
        form.on('switch(status_switch)', function (data) {
            var id  = data.value;
            console.log(id);
            var status = this.checked ? "1" : "2";
            $.ajax({
                type:"get",
                url:ctxPath+"/sysUser/setStatus",
                dataType:'JSON',
                data:{
                    "id":id,"status":status
                },
                success:function (result){
                    if(result.code!==0){
                        layer.tips(result.msg ,data.othis);
                        var em = $(data.othis[0]);
                        if(status==="2"){
                            $("#status_switch_"+id).prop("checked","checked");
                            data.othis[0].classList.add("layui-form-onswitch");
                            em.children('em').text('启用');
                            layer.msg(result.msg);

                        }else {
                            $("#status_switch_"+id).removeAttr("checked");
                            data.othis[0].classList.remove("layui-form-onswitch");
                            em.children('em').text('禁用');
                            layer.msg(result.msg);
                        }
                    }else {
                        layer.tips(result.msg,data.othis);

                    }
                }
            })
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctxPath+'/sysUser/editUI?id='+data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url :ctxPath+"/sysUser/delete",
                        type : 'post',
                        datatype : 'String',
                        data :{
                            "ids" : data.id
                        },
                        success : function(result) {
                            if (result.code!=0) {
                                layer.msg(result.msg);
                            } else {
                                window.parent.location.reload()
                            }
                        }
                    });
                });
            }
        });

    });

</script>

</body>
</html>